<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <div class="hero">
            <h1>Weather</h1>
            <h3>in</h3>
            <h2>{{ city }}</h2>
        </div>
        <div class="location_info" id="location_info">
            <p>Latitude: {{ latitude }}</p>
            <p>Longitude: {{ longitude }}</p>
            <div class="weather">
                <h3>{{ day_of_week }}</h3>
            </div>
        </div>
        <div class="zipcode" id="zipcode_prompt">
            
        </div>
    </div>

</body>
</html>